version: "3"
services:
  db:
    image: postgres:15
    restart: no
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - '5432:5432'
  minio:
    image: "minio/minio"
    restart: no
    ports:
      - 9000:9000
      - 9001:9001
    environment:
      - MINIO_ROOT_USER=admin
      - MINIO_ROOT_PASSWORD=password
    command: server --address ":9000" --console-address ":9001" /data
  redis:
    image: redis:7
    restart: no
    ports:
      - 6379:6379
    command: redis-server --save "" --appendonly no
